@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-o25: rgba(0, 0, 0, 0.25);
  --color-gray: #f0f0f0;

  --color-primary: #2b50ab;

  --color-border-stack-project: #6db33f;
  --color-border-stack-development: #0a7ea5;
  --color-border-stack-deploy: #ff9902;
  --color-shadow-h: var(--color-black-o25);

  --color-chim: #c50066;
  --color-karpedia: #2c2c2c;
  --color-gasannes: #241c24;

  --shadow-h: 0 4px 4px var(--color-shadow-h);
  --shadow-m: 0 2px 4px var(--color-shadow-h);
  --shadow-l: 0 0 4px var(--color-shadow-h);

  --translate-y-h: translateY(0);
  --translate-y-m: translateY(2px);
  --translate-y-l: translateY(4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "nanumgothic";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

section > h1 {
  padding-bottom: 16px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-m);
  z-index: 1;
}

header .logo {
  width: 32px;
  height: 32px;
}

header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header > h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

header > nav {
  display: flex;
  gap: 8px;
  height: 32px;
  align-items: flex-end;
}

nav > a {
  transition: color 0.25s;
}

nav > a:hover {
  color: var(--color-primary);
}

section {
  width: 100%;
  padding: 80px 0;
}

section > h1 {
  width: 800px;
  margin: 0 auto;
}

.border-gray {
  border: 2px solid #eeeeee;
}

#my-info {
  background-color: var(--color-gray);
}

#my-info article {
  width: 800px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

#my-info .img-wrapper {
  width: 280px;
  flex: 280px 0 0;
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
}

#my-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#my-info .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job {
  font-size: 24px;
  color: #656565;
}

.link-list {
  display: flex;
  padding: 0 8px;
  gap: 16px;
  position: relative;
}

.link-list > a {
  position: relative;
}

.link-list > a > span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
}

#stack .content {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 32px;
  align-items: flex-start;
}

.legend {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 16px;
}

.graph-wrapper {
  width: 800px;
  margin: 0 auto;
  height: 250px;
  display: flex;
  justify-content: center;
}

#history {
  background-color: var(--color-gray);
}

#history .content {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.line {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 16px;
  width: 4px;
  height: calc(100% - 32px);
  background-color: var(--color-black);
  border-radius: 2px;
}

.history-item {
  position: relative;
  width: 100%;
  padding-left: 64px;
  padding-bottom: 32px;
}

.history-item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 10px;
  left: 26px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.history-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.history-item p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
}

.project-list {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

#project .content {
  width: 800px;
  margin: 0 auto;
}

.project-item {
  width: 100%;
  box-shadow: var(--shadow-l);
  border-radius: 8px;
  margin-bottom: 16px;
}

.project-item .title {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 8px;
  position: relative;
}

.project-logo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.project-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item .title h3 {
  font-weight: bold;
  font-size: 24px;
}

.project-item .title .link-list {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.project-content {
  padding: 8px;
}

.project-content .description {
  line-height: 24px;
  margin-bottom: 8px;
}

.project-content .stack-list {
  display: flex;
  margin-bottom: 8px;
}

.project-content .image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-content .image-list li {
  flex: calc(50% - 4px) 0 0;
  height: 250px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flat-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  border-radius: 8px;
  transition: opacity 0.25s;
}

.flat-button img {
  width: 32px;
  height: 32px;
}

.flat-button:hover {
  opacity: 1;
  background-color: #f0f0f0;
}

/* StackItem */
.stack-item {
  position: relative;
  width: 200px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-l);
  transform: var(--translate-y-l);
  transition:
    box-shadow 0.25s,
    transform 0.25s;
  cursor: pointer;
}

.stack-item:hover {
  box-shadow: var(--shadow-m);
  transform: var(--translate-y-m);
}

.stack-item.project {
  border: 1px solid var(--color-border-stack-project);
}

.stack-item.development {
  border: 1px solid var(--color-border-stack-development);
}
.stack-item.deploy {
  border: 1px solid var(--color-border-stack-deploy);
}

.stack-item h3 {
  position: absolute;
  top: -14px;
  left: 16px;
  height: 28px;
  line-height: 28px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 0 16px;
}

.stack-item ul {
  display: flex;
  flex-wrap: wrap;
}

/* StackBadge */
.stack-badge {
  position: relative;
  font-family: D2Coding;
  font-size: 16px;
  padding: 4px 8px;
  pointer-events: none;
  font-weight: bold;
}

.stack-badge > .strong {
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff2020;
  overflow: hidden;
}

.stack-badge > .strong > span {
  position: absolute;
  left: 3px;
  top: -4px;
  height: 28px;
  line-height: 28px;
  color: #ffffff;
}

/* LinkButton */
.link-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  transition:
    box-shadow 0.25s,
    transform 0.25s;
  box-shadow: var(--shadow-h);
  transform: var(--translate-y-h);
}

.link-button.big {
  width: 48px;
  height: 48px;
}

.link-button:hover {
  box-shadow: var(--shadow-m);
  transform: var(--translate-y-m);
}

.link-button:active {
  box-shadow: var(--shadow-l);
  transform: var(--translate-y-l);
}

.link-button img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.link-button.big img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.link-button .tooltip {
  transition: opacity 0.25s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 16px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  transform: translateX(calc(16px - 50%)) translateY(32px);
  font-size: 12px;
  font-weight: bold;
}

.link-button.big .tooltip {
  transform: translateX(calc(24px - 50%)) translateY(52px);
}

.link-button:hover .tooltip {
  opacity: 1;
}

/* presets */
.shadow-h {
  box-shadow: var(--shadow-h);
}

.weight-normal {
  font-weight: 200;
}
